
[submodule "tools/ouya"]

	path = tools/ouya

	url = https://github.com/slygamer/ouya-csharp.git

[submodule "MonoGame"]
	path = MonoGame
	url = https://github.com/mono/MonoGame.git
	branch = xamarin
