[submodule "MonoGame"]
	path = MonoGame
	url = git://github.com/Cocos2DXNA/MonoGame.git
	branch = develop
[submodule "tools/ouya"]

	path = tools/ouya

	url = https://github.com/slygamer/ouya-csharp.git

