<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="GameStarterKit" android:installLocation="internalOnly" android:versionName="2" android:versionCode="2">
	<uses-sdk android:targetSdkVersion="8" />
	<application android:label="$safeprojectname$" android:icon="@drawable/Icon"></application>
</manifest>