<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="2f86ee6d-0ab4-4dcc-a281-2e3ece07f748" Publisher="CN=garden" Version="1.0.0.0" />
  <Properties>
    <DisplayName>TestWin8Store</DisplayName>
    <PublisherDisplayName>garden</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="TestWin8Store.App">
      <VisualElements DisplayName="TestWin8Store" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="TestWin8Store" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>